.block_newsforuns .unlist .newlink {text-align: center;}
.block_newsforuns .unlist .post .head {margin-top:10px;}
.block_newsforuns .unlist .post .head .date {font-style: italic;font-size:0.85em;}
.block_newsforuns .unlist .post .head .name {font-size:0.85em;}
.block_newsforuns .unlist .post .info {text-align:center;}
